.table{
    font-size: 25px;

}
input{
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    height: 95px;
    width: 100px;
    top: 11%;
    z-index: 9;

}
input:hover {
    opacity:.85;
    cursor: pointer;
}
.fileinputa{
    
    position: relative;
}
.fileinput{
    height: 42%;
    width: 35%;
    overflow: hidden;
    font-size: 0px;
    position: absolute;
    right: 10%;
    top: 37%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}