.table{
    font-size: 32px;
    font-weight: bold;
}
.table tr td a{
    color: black;
    text-decoration: none;
}
.table tr td a:hover,.table tr td a:active{
    color: blue;
}
.img{
    border-radius: 50%;
    width: 200px;
    height:200px;
    margin: 20px;
}
.button{
    font-size: 35px;
}
.input{
    font-size: 32px;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover,a:active{
    color: #ff47f8;
}
h1{
    font-size: 50px;
}
table,p,div{
    font-size: 40px;
    font-weight: bold;
}
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.container{
    margin: 0 auto;
    padding: 0 30px;
    width:100%;
}
ul,li{
    list-style-type:none;
}
.clearfix{
    clear: both;/*�������*/
}
/*--header��nav--*/
.header{
    width:100%;
    background:rgb(15, 20, 156);
    padding:30px 0;
    position:relative;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li{
    margin:0 35px;
    display:inline-block;/*��������Ϊ�鼶Ԫ��*/
}
nav ul li a{
    font-family: 'Droid Serif', serif;
    color: #fff;
    font-size: 1.25em;/*20px��16px=1.25*/
    font-weight:500;/*���������ϸ*/
}
nav ul li a:hover,nav ul li a.active{
    color:#000;
}
#divcss5{
    margin:0 auto;
    border:1px solid #000;
}
div{
    margin: 0 auto;
    width: 90%;
    border: 0px solid #999999;
    color: #555555;
    overflow: hidden;
}
div div {
    padding: 0px;
    max-height: 140px;
    line-height: 45px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.nav {
    background: #0f149c;
    padding: 10px 0 6px 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.nav ul {
    height: 0px;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}
.nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
input{
    border: none;
}
.nav ul li span{
    display: block;
    color: #fff;
    font-size: 40px;
    font-family: "微软雅黑";
    line-height: 40px;
}

.special input {
    height:15px;
    width:40px;
    padding:8px 10px;
}
.usually input {
    height:40px;
    width:220px;
    padding:8px 10px;
}
