body{
    height: 2500px;
    background-image: url("photos/dcb7ceaac225a0cae6aa0cd782493e40.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: red;
}

.a{
    font-size: 30px;
    text-align: center;
}
.h{
    top: 0;
    font-size: 100px;
}
.h2{
    font-size: 80px;
    font-family: meng;
}
*:focus {outline: none;}
.contact_form{
    width: 80%;
    position: absolute;
    top: 499px;
    left: 20%;
    font-size: 30px;
}
.table{
    text-align: center;
    width: 100%;
    color: blue;
    top: 420px;
    position: absolute;
}
.td{
    font-size: 50px;
}
.active{
    color: black;
}
.td a:active{
    color: #ff47f8;
}
.tree{
    position:relative;
    top: 420px;
    left: 260px;
}
.contact_form h2, .contact_form span {
    font-family:Georgia, Times, "Times New Roman", serif;
}
.form_hint {font-size: 11px;}
.contact_form ul {
    width:750px;
    list-style: none;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:20px;
    border-bottom:1px solid #eee;
    position:relative;
}
@font-face {
    font-family: meng;
    src:url(ziti/毛泽东字体.ttf);
}
.contact_form li:first-child,
.contact_form li:last-child {
    border-bottom:1px solid #777;
}
.contact_form h2 {
    margin:0;
}
.contact_form span {
    width:200px;
    margin-top: 3px;
    display:inline-block;
    padding:3px;
}

.usually input {
    height:40px;
    width:220px;
    padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}
.special input {
    height:15px;
    width:40px;
    padding:5px 8px;
}
.usually input,
.usually textarea {
    background: #fff url(photos/attention.png) no-repeat 98% center;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    transition: padding .25s;
}
.usually input:focus,
.usually textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}
/* Button Style */
button.submit {
    background-color: #68b12f;
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 18px 60px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
}
.usually input:focus:invalid,
.usually textarea:focus:invalid {
    background: #fff url(photos/warn.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #b03535;
}
.usully input:required:valId,
.usealdy textarea:required:valid {
                               background:#fff url(photos/right.png)no-repeat 98% center;
                               box-shdow: 0 0 5px #5cd053;
                               bordes-color: #28921f;
                           }

